@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Readex Pro';
    background-color: white;
    color: black;
}

button div p,
button div {
    background-color: transparent;
    color: white;
}

button:hover {
    background-color: #d33682;
}

h1 div a {
    visibility: hidden;
}


#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}